@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* root */
:root {
  /* colors */
  --primary-color: #eef2f3;
  --secondary-color: #ffffff;
}
/* css reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Catamaran", sans-serif;
  background-color: #eaeced;
}

/* designing the weather app container */
.container {
  width: 900px;
  height: 600px;
  display: flex;
  background-color: #eef2f3;
  overflow: hidden;
  border-radius: 1rem;
}

.left {
  width: 45rem;

  padding: 1rem;
}

header {
  display: flex;
  gap: 8rem;
}

/* parent */
.searchData {
  position: relative;
}

#inputBox {
  width: 15rem;
  border-radius: 0.5rem;
  padding: 1rem;
}
.searchData > button {
  position: absolute;
  background-color: transparent;
  border: transparent;
  right: 0.1rem;
  top: 0.7rem;
  cursor: pointer;
}
.searchData > button > svg {
  width: 4rem;
  height: 1.8rem;
}

/* right */
.right {
  background-color: #173a7b;
  width: 300px;
  height: 600px;
  color: var(--secondary-color);
  padding: 0.5rem;
}
